<?xml version="1.0" encoding="UTF-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title></title>
  <link href="http://redmine.teracode.com/issues/49752.atom?key=4aa574c9e059cb38d85a8c5ac783b54345358b7b" rel="self"/>
  <link href="http://redmine.teracode.com/" rel="alternate"/>
  <id>http://redmine.teracode.com/</id>
  <updated>2011-06-25T12:07:57-03:00</updated>
  <author>
    <name>TeraCode Project Management Tool</name>
  </author>
  <entry>
    <title>Jobsite - Feature #49752: reports to print</title>
    <link href="http://redmine.teracode.com/issues/49752" rel="alternate"/>
    <id>http://redmine.teracode.com/issues/49752?journal_id=247346</id>
    <updated>2011-06-25T12:07:57-03:00</updated>
    <author>
      <name>Kim Maesen</name>
      <email>Kim.Maesen@vsko.be</email>
    </author>
    <content type="html">
&lt;ul&gt;&lt;li&gt;&lt;strong&gt;Target version&lt;/strong&gt; set to &lt;i&gt;Backlog&lt;/i&gt;&lt;/li&gt;&lt;/ul&gt;    </content>
  </entry>
  <entry>
    <title>Jobsite - Feature #49752: reports to print</title>
    <link href="http://redmine.teracode.com/issues/49752" rel="alternate"/>
    <id>http://redmine.teracode.com/issues/49752?journal_id=248096</id>
    <updated>2011-06-28T14:31:15-03:00</updated>
    <author>
      <name>Ricardo Castiglione</name>
      <email>ricardo.castiglione@teracode.com</email>
    </author>
    <content type="html">
&lt;ul&gt;&lt;li&gt;&lt;strong&gt;Category&lt;/strong&gt; set to &lt;i&gt;Development&lt;/i&gt;&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Status&lt;/strong&gt; changed from &lt;i&gt;New&lt;/i&gt; to &lt;i&gt;Assigned&lt;/i&gt;&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Assigned to&lt;/strong&gt; set to &lt;i&gt;Ricardo Castiglione&lt;/i&gt;&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Target version&lt;/strong&gt; changed from &lt;i&gt;Backlog&lt;/i&gt; to &lt;i&gt;0.13.0&lt;/i&gt;&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Estimated time&lt;/strong&gt; set to &lt;i&gt;12.00&lt;/i&gt;&lt;/li&gt;&lt;/ul&gt;    </content>
  </entry>
  <entry>
    <title>Jobsite - Feature #49752: reports to print</title>
    <link href="http://redmine.teracode.com/issues/49752" rel="alternate"/>
    <id>http://redmine.teracode.com/issues/49752?journal_id=250327</id>
    <updated>2011-07-04T16:05:40-03:00</updated>
    <author>
      <name>Ricardo Castiglione</name>
      <email>ricardo.castiglione@teracode.com</email>
    </author>
    <content type="html">
&lt;ul&gt;&lt;/ul&gt;&lt;p&gt;Add to jobsite.local.properties: "documentReportAccess.candidateReportPath = /candidate/candidateReport.odt" (and create in pincette the folder and the odt template file)&lt;/p&gt;    </content>
  </entry>
  <entry>
    <title>Jobsite - Feature #49752: reports to print</title>
    <link href="http://redmine.teracode.com/issues/49752" rel="alternate"/>
    <id>http://redmine.teracode.com/issues/49752?journal_id=251108</id>
    <updated>2011-07-06T10:09:01-03:00</updated>
    <author>
      <name>Ricardo Castiglione</name>
      <email>ricardo.castiglione@teracode.com</email>
    </author>
    <content type="html">
&lt;ul&gt;&lt;li&gt;&lt;strong&gt;Status&lt;/strong&gt; changed from &lt;i&gt;Assigned&lt;/i&gt; to &lt;i&gt;Resolved&lt;/i&gt;&lt;/li&gt;&lt;/ul&gt;    </content>
  </entry>
  <entry>
    <title>Jobsite - Feature #49752: reports to print</title>
    <link href="http://redmine.teracode.com/issues/49752" rel="alternate"/>
    <id>http://redmine.teracode.com/issues/49752?journal_id=254349</id>
    <updated>2011-07-13T08:30:18-03:00</updated>
    <author>
      <name>Kim Maesen</name>
      <email>Kim.Maesen@vsko.be</email>
    </author>
    <content type="html">
&lt;ul&gt;&lt;li&gt;&lt;strong&gt;File&lt;/strong&gt; &lt;a href="/attachments/20820/log_mijnvacatures.odt"&gt;log_mijnvacatures.odt&lt;/a&gt; added&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Status&lt;/strong&gt; changed from &lt;i&gt;Resolved&lt;/i&gt; to &lt;i&gt;ReOpen&lt;/i&gt;&lt;/li&gt;&lt;/ul&gt;&lt;h3 id="A-testuser-on-our-testenvironment-directeur-8Karakters"&gt;A testuser on our testenvironment: directeur - 8Karakters&lt;a href="#A-testuser-on-our-testenvironment-directeur-8Karakters" class="wiki-anchor"&gt;&amp;para;&lt;/a&gt;&lt;/h3&gt;


	&lt;h3 id="printing-candidates-with-their-applications"&gt;printing candidates with their applications:&lt;a href="#printing-candidates-with-their-applications" class="wiki-anchor"&gt;&amp;para;&lt;/a&gt;&lt;/h3&gt;


	&lt;ul&gt;
	&lt;li&gt;choosing PDF:&lt;br /&gt;it goes to url: &lt;a class="external" href="http://develop-patch.vsko.be/jobsite/?wicket:interface=:18:resultPanelContainer:resultPanel:candidatesTable:topToolbars:2:toolbar:candidatesActionsContainer:downloadPDFSelectedContainer:downloadPDFSelected::ILinkListener::&amp;#38;conversationId=24317"&gt;http://develop-patch.vsko.be/jobsite/?wicket:interface=:18:resultPanelContainer:resultPanel:candidatesTable:topToolbars:2:toolbar:candidatesActionsContainer:downloadPDFSelectedContainer:downloadPDFSelected::ILinkListener::&amp;#38;conversationId=24317&lt;/a&gt;: &lt;strong&gt;result is page not found (no errorlog)&lt;/strong&gt;&lt;/li&gt;
	&lt;/ul&gt;


	&lt;ul&gt;
	&lt;li&gt;Choosing ODT:&lt;br /&gt;it goes to url: &lt;a class="external" href="http://develop-patch.vsko.be/jobsite/?wicket:interface=:15:resultPanelContainer:resultPanel:candidatesTable:topToolbars:2:toolbar:candidatesActionsContainer:downloadODTSelectedContainer:downloadODTSelected::ILinkListener::&amp;#38;conversationId=24313"&gt;http://develop-patch.vsko.be/jobsite/?wicket:interface=:15:resultPanelContainer:resultPanel:candidatesTable:topToolbars:2:toolbar:candidatesActionsContainer:downloadODTSelectedContainer:downloadODTSelected::ILinkListener::&amp;#38;conversationId=24313&lt;/a&gt;: &lt;strong&gt;result is page not found (no errorlog)&lt;/strong&gt;&lt;/li&gt;
	&lt;/ul&gt;


	&lt;ul&gt;
	&lt;li&gt;Choosing XML:&lt;br /&gt;it goes to url: &lt;a class="external" href="http://develop-patch.vsko.be/jobsite/?wicket:interface=:12:resultPanelContainer:resultPanel:candidatesTable:topToolbars:2:toolbar:candidatesActionsContainer:downloadXMLSelectedContainer:downloadXMLSelected::ILinkListener::&amp;#38;conversationId=24309"&gt;http://develop-patch.vsko.be/jobsite/?wicket:interface=:12:resultPanelContainer:resultPanel:candidatesTable:topToolbars:2:toolbar:candidatesActionsContainer:downloadXMLSelectedContainer:downloadXMLSelected::ILinkListener::&amp;#38;conversationId=24309&lt;/a&gt;: &lt;strong&gt;result is page not found (no errorlog)&lt;/strong&gt;&lt;/li&gt;
	&lt;/ul&gt;


	&lt;h3 id="printing-vacancies"&gt;printing vacancies:&lt;a href="#printing-vacancies" class="wiki-anchor"&gt;&amp;para;&lt;/a&gt;&lt;/h3&gt;


	&lt;ul&gt;
	&lt;li&gt;choosing PDF:&lt;br /&gt;&lt;strong&gt;errorlog - see attachment&lt;/strong&gt;&lt;/li&gt;
	&lt;/ul&gt;


	&lt;ul&gt;
	&lt;li&gt;Choosing ODT:&lt;br /&gt;&lt;strong&gt;errorlog - see attachment&lt;/strong&gt;&lt;/li&gt;
	&lt;/ul&gt;


	&lt;ul&gt;
	&lt;li&gt;Choosing XML:&lt;br /&gt;it goes to url: &lt;a class="external" href="http://develop-patch.vsko.be/jobsite/?wicket:interface=:22:resultPanelContainer:resultPanel:jobVacanciesTable:topToolbars:2:toolbar:jobVacanciesActionsContainer:downloadXMLSelectedContainer:downloadXMLSelected::ILinkListener::&amp;#38;conversationId=24322"&gt;http://develop-patch.vsko.be/jobsite/?wicket:interface=:22:resultPanelContainer:resultPanel:jobVacanciesTable:topToolbars:2:toolbar:jobVacanciesActionsContainer:downloadXMLSelectedContainer:downloadXMLSelected::ILinkListener::&amp;#38;conversationId=24322&lt;/a&gt;: &lt;strong&gt;result is page not found (no errorlog)&lt;/strong&gt;&lt;/li&gt;
	&lt;/ul&gt;    </content>
  </entry>
  <entry>
    <title>Jobsite - Feature #49752: reports to print</title>
    <link href="http://redmine.teracode.com/issues/49752" rel="alternate"/>
    <id>http://redmine.teracode.com/issues/49752?journal_id=254351</id>
    <updated>2011-07-13T09:17:01-03:00</updated>
    <author>
      <name>Ricardo Castiglione</name>
      <email>ricardo.castiglione@teracode.com</email>
    </author>
    <content type="html">
&lt;ul&gt;&lt;li&gt;&lt;strong&gt;Status&lt;/strong&gt; changed from &lt;i&gt;ReOpen&lt;/i&gt; to &lt;i&gt;Feedback&lt;/i&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;Could you attach the jobsite.local.properties?.&lt;/p&gt;


	&lt;p&gt;Could someone check If It happens on production?. This version only have the job vacancy report (not the candidate report).&lt;/p&gt;    </content>
  </entry>
  <entry>
    <title>Jobsite - Feature #49752: reports to print</title>
    <link href="http://redmine.teracode.com/issues/49752" rel="alternate"/>
    <id>http://redmine.teracode.com/issues/49752?journal_id=254354</id>
    <updated>2011-07-13T09:36:00-03:00</updated>
    <author>
      <name>Kim Maesen</name>
      <email>Kim.Maesen@vsko.be</email>
    </author>
    <content type="html">
&lt;ul&gt;&lt;li&gt;&lt;strong&gt;File&lt;/strong&gt; &lt;a href="/attachments/20821/jobsite.local.properties"&gt;jobsite.local.properties&lt;/a&gt; added&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;see attachment properties of 0.13 on test&lt;/p&gt;


	&lt;p&gt;In production we never used the reports. They are created at version 0.13.&lt;/p&gt;    </content>
  </entry>
  <entry>
    <title>Jobsite - Feature #49752: reports to print</title>
    <link href="http://redmine.teracode.com/issues/49752" rel="alternate"/>
    <id>http://redmine.teracode.com/issues/49752?journal_id=256653</id>
    <updated>2011-07-18T12:36:50-03:00</updated>
    <author>
      <name>Raul Cardozo</name>
      <email>raul.guillermo.cardozo@teracode.com</email>
    </author>
    <content type="html">
&lt;ul&gt;&lt;li&gt;&lt;strong&gt;Status&lt;/strong&gt; changed from &lt;i&gt;Feedback&lt;/i&gt; to &lt;i&gt;Resolved&lt;/i&gt;&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Assigned to&lt;/strong&gt; changed from &lt;i&gt;Ricardo Castiglione&lt;/i&gt; to &lt;i&gt;Raul Cardozo&lt;/i&gt;&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Target version&lt;/strong&gt; changed from &lt;i&gt;0.13.0&lt;/i&gt; to &lt;i&gt;0.13.1&lt;/i&gt;&lt;/li&gt;&lt;li&gt;&lt;strong&gt;% Done&lt;/strong&gt; changed from &lt;i&gt;0&lt;/i&gt; to &lt;i&gt;100&lt;/i&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;The template used for the job vacancy report, in the vsko test environment, has a problem with a variable. You should create and use the variable&lt;br /&gt;&lt;strong&gt;jobVacancyReportCastor.jobVacancyListCastor.jobVacancyCastor.territorialJurisdictionCastor.name&lt;/strong&gt; instead of &lt;strong&gt;jobVacancyReportCastor.jobVacancyListCastor.jobVacancyCastor.territorialJurisdictionCastor&lt;/strong&gt;&lt;/p&gt;    </content>
  </entry>
  <entry>
    <title>Jobsite - Feature #49752: reports to print</title>
    <link href="http://redmine.teracode.com/issues/49752" rel="alternate"/>
    <id>http://redmine.teracode.com/issues/49752?journal_id=257035</id>
    <updated>2011-07-19T03:24:00-03:00</updated>
    <author>
      <name>Kim Maesen</name>
      <email>Kim.Maesen@vsko.be</email>
    </author>
    <content type="html">
&lt;ul&gt;&lt;li&gt;&lt;strong&gt;Status&lt;/strong&gt; changed from &lt;i&gt;Resolved&lt;/i&gt; to &lt;i&gt;Closed&lt;/i&gt;&lt;/li&gt;&lt;/ul&gt;    </content>
  </entry>
</feed>
