<?xml version="1.0" encoding="UTF-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title></title>
  <link href="http://redmine.teracode.com/issues/32495.atom?key=4aa574c9e059cb38d85a8c5ac783b54345358b7b" rel="self"/>
  <link href="http://redmine.teracode.com/" rel="alternate"/>
  <id>http://redmine.teracode.com/</id>
  <updated>2010-06-29T14:49:45-03:00</updated>
  <author>
    <name>TeraCode Project Management Tool</name>
  </author>
  <entry>
    <title>Pupils - Feature #32495: change import procedure</title>
    <link href="http://redmine.teracode.com/issues/32495" rel="alternate"/>
    <id>http://redmine.teracode.com/issues/32495?journal_id=123680</id>
    <updated>2010-06-29T14:49:45-03:00</updated>
    <author>
      <name>Raul Cardozo</name>
      <email>raul.guillermo.cardozo@teracode.com</email>
    </author>
    <content type="html">
&lt;ul&gt;&lt;li&gt;&lt;strong&gt;Category&lt;/strong&gt; set to &lt;i&gt;Development&lt;/i&gt;&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Status&lt;/strong&gt; changed from &lt;i&gt;New&lt;/i&gt; to &lt;i&gt;Assigned&lt;/i&gt;&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Assigned to&lt;/strong&gt; set to &lt;i&gt;Raul Cardozo&lt;/i&gt;&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Target version&lt;/strong&gt; set to &lt;i&gt;1.29.0&lt;/i&gt;&lt;/li&gt;&lt;/ul&gt;    </content>
  </entry>
  <entry>
    <title>Pupils - Feature #32495: change import procedure</title>
    <link href="http://redmine.teracode.com/issues/32495" rel="alternate"/>
    <id>http://redmine.teracode.com/issues/32495?journal_id=124958</id>
    <updated>2010-07-02T15:19:22-03:00</updated>
    <author>
      <name>Raul Cardozo</name>
      <email>raul.guillermo.cardozo@teracode.com</email>
    </author>
    <content type="html">
&lt;ul&gt;&lt;li&gt;&lt;strong&gt;Status&lt;/strong&gt; changed from &lt;i&gt;Assigned&lt;/i&gt; to &lt;i&gt;Resolved&lt;/i&gt;&lt;/li&gt;&lt;li&gt;&lt;strong&gt;% Done&lt;/strong&gt; changed from &lt;i&gt;0&lt;/i&gt; to &lt;i&gt;100&lt;/i&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;it needs to run the script "upgrade-1.29.0-001-bug32495.sql".&lt;/p&gt;


In the Edison Import Page i added a new select, the Import Info Type, it has the next values:
	&lt;ul&gt;
	&lt;li&gt;First Import: It must be used to insert the pupils where they don't exists. It insert/update the subscriptions.&lt;/li&gt;
		&lt;li&gt;Second Import: It must be used to update the pupils personal info, current address and residence address.&lt;/li&gt;
	&lt;/ul&gt;


	&lt;p&gt;default value: &lt;strong&gt;First Import&lt;/strong&gt;&lt;/p&gt;    </content>
  </entry>
  <entry>
    <title>Pupils - Feature #32495: change import procedure</title>
    <link href="http://redmine.teracode.com/issues/32495" rel="alternate"/>
    <id>http://redmine.teracode.com/issues/32495?journal_id=126053</id>
    <updated>2010-07-07T05:42:50-03:00</updated>
    <author>
      <name>Kim Maesen</name>
      <email>Kim.Maesen@vsko.be</email>
    </author>
    <content type="html">
&lt;ul&gt;&lt;li&gt;&lt;strong&gt;Status&lt;/strong&gt; changed from &lt;i&gt;Resolved&lt;/i&gt; to &lt;i&gt;Closed&lt;/i&gt;&lt;/li&gt;&lt;/ul&gt;    </content>
  </entry>
  <entry>
    <title>Pupils - Feature #32495: change import procedure</title>
    <link href="http://redmine.teracode.com/issues/32495" rel="alternate"/>
    <id>http://redmine.teracode.com/issues/32495?journal_id=153002</id>
    <updated>2010-09-28T05:50:00-03:00</updated>
    <author>
      <name>Ken Van de Poel</name>
      <email>ken@kvdp.be</email>
    </author>
    <content type="html">
&lt;ul&gt;&lt;li&gt;&lt;strong&gt;% Done&lt;/strong&gt; changed from &lt;i&gt;100&lt;/i&gt; to &lt;i&gt;0&lt;/i&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;Column CJ: When the date in column CI &lt; 30/06 than use &#8220;Schoolverandering&#8221; (reason end subscription)&lt;br /&gt;--&gt; change: when the date in column CI = 30/06 of current school year than leave blank&lt;/p&gt;


	&lt;p&gt;Column H: 11 x 0 (national identity number)&lt;br /&gt;--&gt; error when empty, if empty import 11 x 0 (national identity number)&lt;br /&gt;error code:&lt;/p&gt;


	&lt;p&gt;--&gt; tailing the log on pupil-01.vsko.be&lt;br /&gt;12:00:58,079 INFO  [XLSImporter] Standard importer version: pupils-1.2.1&lt;br /&gt;12:00:58,088 WARN  [XLSImporter] Student Ambo Frida in row 2 had empty Birth Place. Default&lt;br /&gt; value used instead.&lt;br /&gt;12:00:58,088 WARN  [XLSImporter] Nationality not defined for student in row 2. Using defaul&lt;br /&gt;t value Belgium&lt;br /&gt;12:00:58,088 WARN  [XLSImporter] Student Ambo Frida in row 2 had empty Bis Number. Default&lt;br /&gt;value used instead.&lt;br /&gt;12:00:58,088 WARN  [XLSImporter] Using default street for the official address of the stude&lt;br /&gt;nt Ambo Frida in the row 2&lt;br /&gt;12:00:58,088 WARN  [XLSImporter] Using default street number for the official address of th&lt;br /&gt;e student Ambo Frida in the row 2&lt;br /&gt;12:00:58,089 WARN  [XLSImporter] Using default zip code for the official address of the stu&lt;br /&gt;dent Ambo Frida in the row 2&lt;br /&gt;12:00:58,089 WARN  [XLSImporter] Using default country for the official address of the stud&lt;br /&gt;ent Ambo Frida in the row 2&lt;br /&gt;12:00:58,089 WARN  [XLSImporter] Using default country for the current address of the stude&lt;br /&gt;nt Ambo Frida in the row 2&lt;br /&gt;12:01:00,184 WARN  [XLSImporter] Current address information for student Ambo Frida in row&lt;br /&gt;2 is incomplete. No address saved.&lt;br /&gt;12:01:01,114 ERROR [XLSImporter] Error while creating student in row 2: null&lt;br /&gt;be.platopupils.core.domain.exception.NationalIdentityNumberAlreadyExistsException&lt;br /&gt;        at be.platopupils.core.repository.StudentRepository.checkAddConstraints(StudentRepo&lt;br /&gt;sitory.java:55)&lt;br /&gt;        at be.platopupils.core.repository.StudentRepository.checkAddConstraints(StudentRepo&lt;br /&gt;sitory.java:11)&lt;br /&gt;        at be.platopupils.core.repository.BaseRepository.add(BaseRepository.java:54)&lt;br /&gt;        at be.platopupils.core.presenter.student.StudentPresenter.save(StudentPresenter.jav&lt;br /&gt;a:582)&lt;br /&gt;        at sun.reflect.GeneratedMethodAccessor1791.invoke(Unknown Source)&lt;br /&gt;        at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.jav&lt;br /&gt;a:25)&lt;br /&gt;        at java.lang.reflect.Method.invoke(Method.java:597)&lt;br /&gt;        at org.springframework.aop.support.AopUtils.invokeJoinpointUsingReflection(AopUtils&lt;br /&gt;.java:296)&lt;br /&gt;        at org.springframework.aop.framework.ReflectiveMethodInvocation.invokeJoinpoint(Ref&lt;br /&gt;lectiveMethodInvocation.java:177)&lt;br /&gt;        at org.springframework.aop.framework.ReflectiveMethodInvocation.proceed(ReflectiveM&lt;br /&gt;ethodInvocation.java:144)&lt;br /&gt;        at org.springframework.transaction.interceptor.TransactionInterceptor.invoke(Transa&lt;br /&gt;ctionInterceptor.java:107)&lt;br /&gt;        at org.springframework.aop.framework.ReflectiveMethodInvocation.proceed(ReflectiveM&lt;br /&gt;ethodInvocation.java:166)&lt;br /&gt;        at be.platopupils.core.monitor.PlatoPupilsMonitor.invoke(PlatoPupilsMonitor.java:32&lt;br /&gt;)&lt;br /&gt;        at org.springframework.aop.framework.ReflectiveMethodInvocation.proceed(ReflectiveM&lt;br /&gt;ethodInvocation.java:166)&lt;br /&gt;        at org.springframework.aop.framework.JdkDynamicAopProxy.invoke(JdkDynamicAopProxy.j&lt;br /&gt;ava:204)&lt;br /&gt;        at $Proxy65.save(Unknown Source)&lt;br /&gt;        at be.platopupils.client.XlsIntegratedStandardImporter.firstImportStudentData(XlsIn&lt;br /&gt;tegratedStandardImporter.java:953)&lt;br /&gt;        at be.platopupils.client.XlsIntegratedStandardImporter.importStudentData(XlsIntegra&lt;br /&gt;tedStandardImporter.java:824)&lt;br /&gt;        at be.platopupils.core.presenter.edison.job.ImportJobPresenter.startImportProcess(I&lt;br /&gt;mportJobPresenter.java:72)&lt;br /&gt;        at be.platopupils.core.presenter.edison.job.ImportJobPresenter.importPendingFiles(I&lt;br /&gt;mportJobPresenter.java:38)&lt;br /&gt;        at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)&lt;br /&gt;        at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:39)&lt;br /&gt;        at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.jav&lt;br /&gt;a:25)&lt;br /&gt;        at java.lang.reflect.Method.invoke(Method.java:597)&lt;br /&gt;        at org.springframework.aop.support.AopUtils.invokeJoinpointUsingReflection(AopUtils&lt;br /&gt;.java:296)&lt;br /&gt;        at org.springframework.aop.framework.ReflectiveMethodInvocation.invokeJoinpoint(Ref&lt;br /&gt;lectiveMethodInvocation.java:177)&lt;br /&gt;        at org.springframework.aop.framework.ReflectiveMethodInvocation.proceed(ReflectiveM&lt;br /&gt;ethodInvocation.java:144)&lt;br /&gt;        at org.springframework.transaction.interceptor.TransactionInterceptor.invoke(Transa&lt;br /&gt;ctionInterceptor.java:107)&lt;br /&gt;        at org.springframework.aop.framework.ReflectiveMethodInvocation.proceed(ReflectiveM&lt;br /&gt;ethodInvocation.java:166)&lt;br /&gt;        at be.platopupils.core.monitor.PlatoPupilsMonitor.invoke(PlatoPupilsMonitor.java:32&lt;br /&gt;)&lt;br /&gt;        at org.springframework.aop.framework.ReflectiveMethodInvocation.proceed(ReflectiveM&lt;br /&gt;ethodInvocation.java:166)&lt;br /&gt;        at org.springframework.aop.framework.JdkDynamicAopProxy.invoke(JdkDynamicAopProxy.j&lt;br /&gt;ava:204)&lt;br /&gt;        at $Proxy71.importPendingFiles(Unknown Source)&lt;br /&gt;        at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)&lt;br /&gt;        at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:39)&lt;br /&gt;        at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.jav&lt;br /&gt;a:25)&lt;br /&gt;        at java.lang.reflect.Method.invoke(Method.java:597)&lt;br /&gt;        at wicket.proxy.LazyInitProxyFactory$JdkHandler.invoke(LazyInitProxyFactory.java:37&lt;br /&gt;7)&lt;br /&gt;        at wicket.proxy.$Proxy150.importPendingFiles(Unknown Source)&lt;br /&gt;        at be.platopupils.core.presenter.edison.job.ManualImportJobThread.run(ManualImportJ&lt;br /&gt;obThread.java:24)&lt;br /&gt;12:01:01,115 INFO  [XLSImporter] Added 0 students - [9 / 0 / 1] (warnings/errors/exceptions&lt;br /&gt;)&lt;br /&gt;12:01:01,115 INFO  [XLSImporter] Ignored 0 rows. (student already exists)&lt;br /&gt;12:01:01,115 INFO  [XLSImporter] Students found 0&lt;br /&gt;12:01:01,626 ERROR [XLSImporter] Subscriptions for student Ambo Frida cannot be loaded (row&lt;br /&gt; 2). (student was not created)&lt;br /&gt;12:01:01,626 INFO  [XLSImporter] Loaded 0 subscriptions for 0 students&lt;br /&gt;12:01:01,626 INFO  [XLSImporter] Invalid Reg. Numbers: 0.&lt;br /&gt;12:01:01,626 INFO  [XLSImporter] Unknown Errors: 0.&lt;br /&gt;12:01:01,626 INFO  [XLSImporter] Warnings: 0.&lt;br /&gt;12:01:01,627 INFO  [XLSImporter] Students skipped: 1.&lt;br /&gt;12:01:01,627 INFO  [XLSImporter] Duplicated Registration Numbers: 0.&lt;br /&gt;12:01:01,627 INFO  [XLSImporter] Subscription Overlapped: 0.&lt;br /&gt;12:01:01,627 INFO  [XLSImporter] Invalid Subscription Dates: 0.&lt;/p&gt;    </content>
  </entry>
  <entry>
    <title>Pupils - Feature #32495: change import procedure</title>
    <link href="http://redmine.teracode.com/issues/32495" rel="alternate"/>
    <id>http://redmine.teracode.com/issues/32495?journal_id=153054</id>
    <updated>2010-09-28T10:50:21-03:00</updated>
    <author>
      <name>Andr&#233;s Ferrari</name>
      <email>andres.ferrari@teracode.com</email>
    </author>
    <content type="html">
&lt;ul&gt;&lt;li&gt;&lt;strong&gt;Status&lt;/strong&gt; changed from &lt;i&gt;Closed&lt;/i&gt; to &lt;i&gt;ReOpen&lt;/i&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;Reopened as per Kim's request. Please see feedback in message #4.&lt;/p&gt;    </content>
  </entry>
  <entry>
    <title>Pupils - Feature #32495: change import procedure</title>
    <link href="http://redmine.teracode.com/issues/32495" rel="alternate"/>
    <id>http://redmine.teracode.com/issues/32495?journal_id=165853</id>
    <updated>2010-10-28T10:10:46-03:00</updated>
    <author>
      <name>Kim Maesen</name>
      <email>Kim.Maesen@vsko.be</email>
    </author>
    <content type="html">
&lt;ul&gt;&lt;/ul&gt;&lt;p&gt;You've got two options for the import: first &amp;#38; second. (see attachment) doing the second doesn't work anymore. e;g. relation details.&lt;/p&gt;


Example 1:
	&lt;ul&gt;
	&lt;li&gt;student X exists already in PLATO&lt;/li&gt;
		&lt;li&gt;student X has no father filled in but in the xls the father is filled in, so should be added.&lt;/li&gt;
		&lt;li&gt;result doing the second import: not filled in, but should be.&lt;/li&gt;
	&lt;/ul&gt;


Example 2:
	&lt;ul&gt;
	&lt;li&gt;student X exists already in PLATO&lt;/li&gt;
		&lt;li&gt;student X has a father filled but in the xls the father has another mailaddress and phone number, so should be changed.&lt;/li&gt;
		&lt;li&gt;result doing the second import: nothing is changed, but should be.&lt;/li&gt;
	&lt;/ul&gt;    </content>
  </entry>
  <entry>
    <title>Pupils - Feature #32495: change import procedure</title>
    <link href="http://redmine.teracode.com/issues/32495" rel="alternate"/>
    <id>http://redmine.teracode.com/issues/32495?journal_id=170006</id>
    <updated>2010-11-08T11:12:03-03:00</updated>
    <author>
      <name>Kim Maesen</name>
      <email>Kim.Maesen@vsko.be</email>
    </author>
    <content type="html">
&lt;ul&gt;&lt;/ul&gt;&lt;ul&gt;
	&lt;li&gt;at this moment when end date subscription is &lt;= 30/06 of the schoolyear and reason end subscription in blanc in the xls: default reason filled in is "Schoolverandering". WRONG should be when end date subscription is &lt; 30/06!!! of the schoolyear and reason end subscription in blanc in the xls: default reason filled in is "Schoolverandering".&lt;/li&gt;
		&lt;li&gt;please correct the subscriptions where end date subscription = 30/06 and reason end subscription = "Schoolverandering" into reason end subscription = &lt;&amp;lt;blanc&amp;gt;&gt;&lt;/li&gt;
		&lt;li&gt;Now you're checking only for NiN to have a unique subscription in the selected school (for 1st and 2th import) but when NiN is blanc, the check should be done based on institution number and RN (that's also a unique key)&lt;/li&gt;
	&lt;/ul&gt;    </content>
  </entry>
  <entry>
    <title>Pupils - Feature #32495: change import procedure</title>
    <link href="http://redmine.teracode.com/issues/32495" rel="alternate"/>
    <id>http://redmine.teracode.com/issues/32495?journal_id=172384</id>
    <updated>2010-11-15T11:53:02-03:00</updated>
    <author>
      <name>Ricardo Castiglione</name>
      <email>ricardo.castiglione@teracode.com</email>
    </author>
    <content type="html">
&lt;ul&gt;&lt;li&gt;&lt;strong&gt;Assigned to&lt;/strong&gt; changed from &lt;i&gt;Raul Cardozo&lt;/i&gt; to &lt;i&gt;Ricardo Castiglione&lt;/i&gt;&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Target version&lt;/strong&gt; changed from &lt;i&gt;1.29.0&lt;/i&gt; to &lt;i&gt;1.35.0&lt;/i&gt;&lt;/li&gt;&lt;/ul&gt;    </content>
  </entry>
  <entry>
    <title>Pupils - Feature #32495: change import procedure</title>
    <link href="http://redmine.teracode.com/issues/32495" rel="alternate"/>
    <id>http://redmine.teracode.com/issues/32495?journal_id=174985</id>
    <updated>2010-11-25T15:34:57-03:00</updated>
    <author>
      <name>Ricardo Castiglione</name>
      <email>ricardo.castiglione@teracode.com</email>
    </author>
    <content type="html">
&lt;ul&gt;&lt;li&gt;&lt;strong&gt;Status&lt;/strong&gt; changed from &lt;i&gt;ReOpen&lt;/i&gt; to &lt;i&gt;Resolved&lt;/i&gt;&lt;/li&gt;&lt;li&gt;&lt;strong&gt;% Done&lt;/strong&gt; changed from &lt;i&gt;0&lt;/i&gt; to &lt;i&gt;100&lt;/i&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;Applied in changeset &lt;a href="http://redmine.teracode.com/projects/pupils/repository/revisions/43954" class="changeset" title="fixes #32495 (change import procedure)"&gt;r43954&lt;/a&gt;.&lt;/p&gt;    </content>
  </entry>
  <entry>
    <title>Pupils - Feature #32495: change import procedure</title>
    <link href="http://redmine.teracode.com/issues/32495" rel="alternate"/>
    <id>http://redmine.teracode.com/issues/32495?journal_id=177952</id>
    <updated>2010-12-07T08:16:12-03:00</updated>
    <author>
      <name>Kim Maesen</name>
      <email>Kim.Maesen@vsko.be</email>
    </author>
    <content type="html">
&lt;ul&gt;&lt;li&gt;&lt;strong&gt;File&lt;/strong&gt; &lt;a href="/attachments/14798/import.xls"&gt;import.xls&lt;/a&gt; added&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;Attached file can't be imported (1st import). Reason?&lt;/p&gt;    </content>
  </entry>
  <entry>
    <title>Pupils - Feature #32495: change import procedure</title>
    <link href="http://redmine.teracode.com/issues/32495" rel="alternate"/>
    <id>http://redmine.teracode.com/issues/32495?journal_id=177953</id>
    <updated>2010-12-07T08:16:24-03:00</updated>
    <author>
      <name>Kim Maesen</name>
      <email>Kim.Maesen@vsko.be</email>
    </author>
    <content type="html">
&lt;ul&gt;&lt;li&gt;&lt;strong&gt;Status&lt;/strong&gt; changed from &lt;i&gt;Resolved&lt;/i&gt; to &lt;i&gt;ReOpen&lt;/i&gt;&lt;/li&gt;&lt;/ul&gt;    </content>
  </entry>
  <entry>
    <title>Pupils - Feature #32495: change import procedure</title>
    <link href="http://redmine.teracode.com/issues/32495" rel="alternate"/>
    <id>http://redmine.teracode.com/issues/32495?journal_id=178524</id>
    <updated>2010-12-09T09:02:07-03:00</updated>
    <author>
      <name>Kim Maesen</name>
      <email>Kim.Maesen@vsko.be</email>
    </author>
    <content type="html">
&lt;ul&gt;&lt;li&gt;&lt;strong&gt;Status&lt;/strong&gt; changed from &lt;i&gt;ReOpen&lt;/i&gt; to &lt;i&gt;Closed&lt;/i&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;See &lt;a href="http://redmine.teracode.com/issues/46322" class="issue status-9 priority-3 closed assigned-to-me" title="Second import refinement (Closed)"&gt;#46322&lt;/a&gt; for last comments (to do in a next sprint)&lt;/p&gt;    </content>
  </entry>
</feed>
