<?xml version="1.0" encoding="UTF-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title></title>
  <link href="http://redmine.teracode.com/issues/43995.atom?key=4aa574c9e059cb38d85a8c5ac783b54345358b7b" rel="self"/>
  <link href="http://redmine.teracode.com/" rel="alternate"/>
  <id>http://redmine.teracode.com/</id>
  <updated>2010-12-13T09:53:50-03:00</updated>
  <author>
    <name>TeraCode Project Management Tool</name>
  </author>
  <entry>
    <title>Pupils - Feature #43995: Integration: VOS integration</title>
    <link href="http://redmine.teracode.com/issues/43995" rel="alternate"/>
    <id>http://redmine.teracode.com/issues/43995?journal_id=179442</id>
    <updated>2010-12-13T09:53:50-03:00</updated>
    <author>
      <name>Kim Maesen</name>
      <email>Kim.Maesen@vsko.be</email>
    </author>
    <content type="html">
&lt;ul&gt;&lt;li&gt;&lt;strong&gt;File&lt;/strong&gt; &lt;a href="/attachments/14952/data_model_ikon_school.png"&gt;data_model_ikon_school.png&lt;/a&gt; added&lt;/li&gt;&lt;/ul&gt;1) Should be synced:
	&lt;ul&gt;
	&lt;li&gt;institution (school), Institution details, Institution seat, locations, mainstructures. All those have start and end dates so it's neccessarry to add those to the tables where they are not.&lt;/li&gt;
	&lt;/ul&gt;


	&lt;p&gt;2) Give a list with the differences between pupils and VOS.&lt;/p&gt;


	&lt;p&gt;3) Add somewhere a button to sync. Because we check start and end date we can sync everything, but I think it's better only to sync the current and future information.&lt;/p&gt;


	&lt;p&gt;Attached the data-model of VOS-school&lt;/p&gt;    </content>
  </entry>
  <entry>
    <title>Pupils - Feature #43995: Integration: VOS integration</title>
    <link href="http://redmine.teracode.com/issues/43995" rel="alternate"/>
    <id>http://redmine.teracode.com/issues/43995?journal_id=185690</id>
    <updated>2011-01-03T12:04:27-03:00</updated>
    <author>
      <name>Ricardo Castiglione</name>
      <email>ricardo.castiglione@teracode.com</email>
    </author>
    <content type="html">
&lt;ul&gt;&lt;li&gt;&lt;strong&gt;Category&lt;/strong&gt; set to &lt;i&gt;Development&lt;/i&gt;&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Assigned to&lt;/strong&gt; set to &lt;i&gt;Ricardo Castiglione&lt;/i&gt;&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Target version&lt;/strong&gt; changed from &lt;i&gt;Backlog&lt;/i&gt; to &lt;i&gt;1.36.0&lt;/i&gt;&lt;/li&gt;&lt;/ul&gt;    </content>
  </entry>
  <entry>
    <title>Pupils - Feature #43995: Integration: VOS integration</title>
    <link href="http://redmine.teracode.com/issues/43995" rel="alternate"/>
    <id>http://redmine.teracode.com/issues/43995?journal_id=185714</id>
    <updated>2011-01-03T12:23:56-03:00</updated>
    <author>
      <name>Ricardo Castiglione</name>
      <email>ricardo.castiglione@teracode.com</email>
    </author>
    <content type="html">
&lt;ul&gt;&lt;li&gt;&lt;strong&gt;Status&lt;/strong&gt; changed from &lt;i&gt;New&lt;/i&gt; to &lt;i&gt;Feedback&lt;/i&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;Kim Maesen wrote:&lt;/p&gt;


&lt;blockquote&gt;

	&lt;p&gt;2) Give a list with the differences between pupils and VOS.&lt;/p&gt;


&lt;/blockquote&gt;

	&lt;p&gt;Do you want a list with differences between the data model of plato and vos? or differences between the schools of plato and vos?.&lt;/p&gt;    </content>
  </entry>
  <entry>
    <title>Pupils - Feature #43995: Integration: VOS integration</title>
    <link href="http://redmine.teracode.com/issues/43995" rel="alternate"/>
    <id>http://redmine.teracode.com/issues/43995?journal_id=186660</id>
    <updated>2011-01-05T05:12:53-03:00</updated>
    <author>
      <name>Kim Maesen</name>
      <email>Kim.Maesen@vsko.be</email>
    </author>
    <content type="html">
&lt;ul&gt;&lt;/ul&gt;&lt;p&gt;At first a list of differences of schooldetails, than I will check them if you may use the schooldetails of VOS or not. (so we wont lose any info)&lt;br /&gt;Off course schools that are missing in PLATO should not be in that list, they should be added.&lt;/p&gt;    </content>
  </entry>
  <entry>
    <title>Pupils - Feature #43995: Integration: VOS integration</title>
    <link href="http://redmine.teracode.com/issues/43995" rel="alternate"/>
    <id>http://redmine.teracode.com/issues/43995?journal_id=186678</id>
    <updated>2011-01-05T09:54:07-03:00</updated>
    <author>
      <name>Ricardo Castiglione</name>
      <email>ricardo.castiglione@teracode.com</email>
    </author>
    <content type="html">
&lt;ul&gt;&lt;/ul&gt;&lt;p&gt;Kim Maesen wrote:&lt;/p&gt;


&lt;blockquote&gt;

	&lt;p&gt;At first a list of differences of schooldetails, than I will check them if you may use the schooldetails of VOS or not. (so we wont lose any info)
Off course schools that are missing in PLATO should not be in that list, they should be added.&lt;/p&gt;


&lt;/blockquote&gt;

	&lt;p&gt;I chatted with Kim about it (on 05/01/2011). She was afraid I delete subscriptions because they are linked to a MS, location, school. I never delete data instead of I use the end date. So, It's not necessary show the differences.&lt;/p&gt;    </content>
  </entry>
  <entry>
    <title>Pupils - Feature #43995: Integration: VOS integration</title>
    <link href="http://redmine.teracode.com/issues/43995" rel="alternate"/>
    <id>http://redmine.teracode.com/issues/43995?journal_id=187124</id>
    <updated>2011-01-06T14:44:58-03:00</updated>
    <author>
      <name>Ricardo Castiglione</name>
      <email>ricardo.castiglione@teracode.com</email>
    </author>
    <content type="html">
&lt;ul&gt;&lt;li&gt;&lt;strong&gt;Status&lt;/strong&gt; changed from &lt;i&gt;Feedback&lt;/i&gt; to &lt;i&gt;In Progress&lt;/i&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;Add the next property to pupils.local.properties:&lt;/p&gt;


	&lt;p&gt;vosProxyFactory_3_0.address = &lt;a class="external" href="http://vos.vsko.be/vos/remoting/vosWebService_v3_0"&gt;http://vos.vsko.be/vos/remoting/vosWebService_v3_0&lt;/a&gt;&lt;/p&gt;    </content>
  </entry>
  <entry>
    <title>Pupils - Feature #43995: Integration: VOS integration</title>
    <link href="http://redmine.teracode.com/issues/43995" rel="alternate"/>
    <id>http://redmine.teracode.com/issues/43995?journal_id=188651</id>
    <updated>2011-01-12T03:43:30-03:00</updated>
    <author>
      <name>Michael De Groeve</name>
      <email>michaeldegroeve@lemonade.be</email>
    </author>
    <content type="html">
&lt;ul&gt;&lt;/ul&gt;&lt;p&gt;in response of mail of ricardo&lt;/p&gt;


	&lt;p&gt;2011/1/11 Ricardo Castiglione &amp;lt;&lt;a class="email" href="mailto:ricardo.castiglione@teracode.com"&gt;ricardo.castiglione@teracode.com&lt;/a&gt;&amp;gt;&lt;br /&gt;Hi Michael,&lt;/p&gt;


&lt;blockquote&gt;

About Pupils-Vos sync, I've two problems with the locations sync in pupils:
	&lt;ul&gt;
	&lt;li&gt;The first one: I can't identify a pupil location from a vos location. The ikonId is the only field in pupils that links a pupils location with a ikon location (ikonId in PP_LOCATION of 
pupils looks like S_LOCATIES.SLOC_ID and I need it in the message for matching the locations).&lt;/li&gt;
		&lt;li&gt;The second one: The SchoolLocation (entity of the message from vos) doesn't have the field number (I think It is the S_LOCATIES.VE_VN in ikon db). This field is used in 
edison messages.&lt;/li&gt;
	&lt;/ul&gt;


&lt;/blockquote&gt;

&lt;blockquote&gt;

	&lt;p&gt;About PP_LOCATION data in pupils, I have 4 records without ikon_id (SELECT * FROM PP_LOCATION WHERE ikon_id IS NULL;), but I could find the ikon_id of two of them using the
address data for linking pupils locations and ikon locations (SELECT * FROM PP_LOCATION WHERE ID IN (7475, 7476);). The other 2 pupils locations don't exist in ikon (I searched 
using the street), so they never will be update through ikon, but If you add them to ikon and you give me the ikon_ids I will be able link them with the pupils locations.&lt;/p&gt;


&lt;/blockquote&gt;

	&lt;p&gt;1/ you need to initialize pupils from VOS: add a column UUID in PP_LOCATION, fill it up with the UUID from VOS using your ikonId. Then remove the ikonId in PP_LOCATION, we no longer use that&lt;br /&gt;2/ location number is now more complex in VOS. You can find it in the LocationGroups... VOS works like this: you have a number of locations (with UUID), and they are linked to a school in a location group. This group is valid from/to, and indicates a period where the location numbers are valid. So say we have a group 1 from 1995 till 2000 containing Location A with number 1 and location B with number 2. Then there is a change and a new group is created, group 2 from 2000 till ... with location B with number 1 and location C with number 2. You understand? You have 2 options here:&lt;br /&gt;  - copy the domain model from VOS (location groups) in pupils, and adapt all our queries... to match this model&lt;br /&gt;  - keep our model, but transform the VOS model by denormalizing the groups (from/to) and group links (numbers) into the locations. This is possible but will generate in some cases multiple locations with the same UUID (eg. in the example above we'll have location B (number 2, from 1995 till 2000) and location B' (number 1, from 2000 ...) with the same UUID). Think this through, but i guess its not a problem&lt;/p&gt;


	&lt;p&gt;3/ inconsistent data: this is possible, I added some locations manually. Check with Kim, she can adjust VOS/IKON for you&lt;/p&gt;    </content>
  </entry>
  <entry>
    <title>Pupils - Feature #43995: Integration: VOS integration</title>
    <link href="http://redmine.teracode.com/issues/43995" rel="alternate"/>
    <id>http://redmine.teracode.com/issues/43995?journal_id=188919</id>
    <updated>2011-01-12T14:43:15-03:00</updated>
    <author>
      <name>Ricardo Castiglione</name>
      <email>ricardo.castiglione@teracode.com</email>
    </author>
    <content type="html">
&lt;ul&gt;&lt;/ul&gt;&lt;p&gt;Kim, about:&lt;/p&gt;


&lt;blockquote&gt;

	&lt;p&gt;3/ inconsistent data: this is possible, I added some locations manually. Check with Kim, she can adjust VOS/IKON for you&lt;/p&gt;


&lt;/blockquote&gt;

	&lt;p&gt;I found 29 locations in pupils (dump downloaded on 30/12/2010) that don't exist in ikon (dump downloaded on 11/01/2011). There are 25 locations in pupils that has an ikon_id (table PP_LOCATION) and them don't exist in ikon (table S_LOCATIES) and there are 4 locations that don't have an ikon_id in pupils (I thought I could link 2 of them with the ikon locations, but I was wrong). The problem with this 29 locations is that you won't be able update them through ikon, but It won't affect to pupils.&lt;/p&gt;


	&lt;p&gt;If you add to ikon the locations that don't exist in pupils and them have the same start date, location number and school (If michael agrees in comment #10 with this way of identification of the locations), Pupils will update them when vos sends a message to pupils.&lt;/p&gt;


	&lt;p&gt;I attach an ods with the 29 locations that don't exist in ikon (see the file locations_not_in_ikon.ods).&lt;/p&gt;    </content>
  </entry>
  <entry>
    <title>Pupils - Feature #43995: Integration: VOS integration</title>
    <link href="http://redmine.teracode.com/issues/43995" rel="alternate"/>
    <id>http://redmine.teracode.com/issues/43995?journal_id=188922</id>
    <updated>2011-01-12T14:48:40-03:00</updated>
    <author>
      <name>Ricardo Castiglione</name>
      <email>ricardo.castiglione@teracode.com</email>
    </author>
    <content type="html">
&lt;ul&gt;&lt;li&gt;&lt;strong&gt;File&lt;/strong&gt; &lt;a href="/attachments/15805/locations_not_in_ikon.ods"&gt;locations_not_in_ikon.ods&lt;/a&gt; added&lt;/li&gt;&lt;/ul&gt;    </content>
  </entry>
  <entry>
    <title>Pupils - Feature #43995: Integration: VOS integration</title>
    <link href="http://redmine.teracode.com/issues/43995" rel="alternate"/>
    <id>http://redmine.teracode.com/issues/43995?journal_id=188987</id>
    <updated>2011-01-12T16:26:47-03:00</updated>
    <author>
      <name>Ricardo Castiglione</name>
      <email>ricardo.castiglione@teracode.com</email>
    </author>
    <content type="html">
&lt;ul&gt;&lt;/ul&gt;&lt;p&gt;Michael, about:&lt;/p&gt;


&lt;blockquote&gt;

	&lt;p&gt;1/ you need to initialize pupils from VOS: add a column UUID in PP_LOCATION, fill it up with the UUID from VOS using your ikonId. Then remove the ikonId in PP_LOCATION, we no longer use that&lt;/p&gt;


&lt;/blockquote&gt;

	&lt;p&gt;S_LOCATIES.UID_COL isn't unique, so It isn't useful for linking an ikon location with a pupils location. I think I can use S_LOCATIES.VE_VN, S_LOCATIES.S_SCHOOL_ID, S_LOCATIES.DATUM_VAN for identifying a pupils location from an ikon location. what do you think?. Let me know if you find some problem.&lt;/p&gt;


&lt;blockquote&gt;

	&lt;p&gt;2/ location number is now more complex in VOS. You can find it in the LocationGroups... VOS works like this: you have a number of locations (with UUID), and they are linked to a school in a location group. This group is valid from/to, and indicates a period where the location numbers are valid. So say we have a group 1 from 1995 till 2000 containing Location A with number 1 and location B with number 2. Then there is a change and a new group is created, group 2 from 2000 till ... with location B with number 1 and location C with number 2. You understand? You have 2 options here:&lt;br /&gt;- copy the domain model from VOS (location groups) in pupils, and adapt all our queries... to match this model&lt;br /&gt;- keep our model, but transform the VOS model by denormalizing the groups (from/to) and group links (numbers) into the locations. This is possible but will generate in some cases multiple locations with the same UUID (eg. in the example above we'll have location B (number 2, from 1995 till 2000) and location B' (number 1, from 2000 ...) with the same UUID). Think this through, but i guess its not a problem&lt;/p&gt;


&lt;/blockquote&gt;

	&lt;p&gt;I don't know how to generate the location numbers. I mean, When location number is 1, 2, 3, ... I see that It's the location's position in the location group list, but when the location number is 110, how do you get that location number?. (see for example: SELECT * FROM S_LOCATIES WHERE S_SCHOOL_ID = 6810; in ikon).&lt;/p&gt;    </content>
  </entry>
  <entry>
    <title>Pupils - Feature #43995: Integration: VOS integration</title>
    <link href="http://redmine.teracode.com/issues/43995" rel="alternate"/>
    <id>http://redmine.teracode.com/issues/43995?journal_id=189160</id>
    <updated>2011-01-13T03:16:46-03:00</updated>
    <author>
      <name>Michael De Groeve</name>
      <email>michaeldegroeve@lemonade.be</email>
    </author>
    <content type="html">
&lt;ul&gt;&lt;/ul&gt;&lt;p&gt;hi ricardo,&lt;/p&gt;


	&lt;p&gt;about 1/ it's true IKON has no unique UUID, that's because they too denormalize VOS locations. Only in VOS are UUIDs unique, in IKON they are copied if a location has changed its number (same as in pupils). The idea is:&lt;br /&gt;- initialize: get the UUID from the ikonId only once&lt;br /&gt;- from then onwards, don't synch with IKON anymore, but with VOS, where UUID's are unique&lt;/p&gt;


	&lt;p&gt;about 2/ location 110 is not a correct number, and should be removed. Only 1, 2, 3, ... are valid numbers. IKON contains wrong numbers due to manual intervention, and we in pupils took this over but they must be corrected. VOS is correct, you should idd get the number from the locations position in the group.&lt;/p&gt;    </content>
  </entry>
  <entry>
    <title>Pupils - Feature #43995: Integration: VOS integration</title>
    <link href="http://redmine.teracode.com/issues/43995" rel="alternate"/>
    <id>http://redmine.teracode.com/issues/43995?journal_id=189817</id>
    <updated>2011-01-14T11:52:20-03:00</updated>
    <author>
      <name>Ricardo Castiglione</name>
      <email>ricardo.castiglione@teracode.com</email>
    </author>
    <content type="html">
&lt;ul&gt;&lt;/ul&gt;&lt;p&gt;Add the next new property to pupils.local.properties:&lt;/p&gt;


&lt;blockquote&gt;

	&lt;p&gt;vosNotificationConsumerJmsConfig.targetDestination = Consumer.Pupils.VirtualTopic.Structures&lt;/p&gt;


&lt;/blockquote&gt;

&lt;blockquote&gt;

	&lt;p&gt;vosProxyFactory_3_0.address = &lt;a class="external" href="http://vos.vsko.be/vos/remoting/vosWebService_v3_0"&gt;http://vos.vsko.be/vos/remoting/vosWebService_v3_0&lt;/a&gt;&lt;/p&gt;


&lt;/blockquote&gt;    </content>
  </entry>
  <entry>
    <title>Pupils - Feature #43995: Integration: VOS integration</title>
    <link href="http://redmine.teracode.com/issues/43995" rel="alternate"/>
    <id>http://redmine.teracode.com/issues/43995?journal_id=190648</id>
    <updated>2011-01-17T14:27:22-03:00</updated>
    <author>
      <name>Ricardo Castiglione</name>
      <email>ricardo.castiglione@teracode.com</email>
    </author>
    <content type="html">
&lt;ul&gt;&lt;/ul&gt;&lt;p&gt;I've moved comment #8 to the issue: &lt;a class="external" href="http://redmine.teracode.com/issues/49438"&gt;http://redmine.teracode.com/issues/49438&lt;/a&gt;.&lt;/p&gt;    </content>
  </entry>
  <entry>
    <title>Pupils - Feature #43995: Integration: VOS integration</title>
    <link href="http://redmine.teracode.com/issues/43995" rel="alternate"/>
    <id>http://redmine.teracode.com/issues/43995?journal_id=190706</id>
    <updated>2011-01-17T14:59:33-03:00</updated>
    <author>
      <name>Ricardo Castiglione</name>
      <email>ricardo.castiglione@teracode.com</email>
    </author>
    <content type="html">
&lt;ul&gt;&lt;/ul&gt;&lt;p&gt;For synchronizing =&gt; You have a new item menu (Administration -&gt; Synchronization) and You can see it only if the user has super administration role.&lt;/p&gt;    </content>
  </entry>
  <entry>
    <title>Pupils - Feature #43995: Integration: VOS integration</title>
    <link href="http://redmine.teracode.com/issues/43995" rel="alternate"/>
    <id>http://redmine.teracode.com/issues/43995?journal_id=190708</id>
    <updated>2011-01-17T15:03:12-03:00</updated>
    <author>
      <name>Ricardo Castiglione</name>
      <email>ricardo.castiglione@teracode.com</email>
    </author>
    <content type="html">
&lt;ul&gt;&lt;li&gt;&lt;strong&gt;Status&lt;/strong&gt; changed from &lt;i&gt;In Progress&lt;/i&gt; to &lt;i&gt;Resolved&lt;/i&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;Applied in changeset &lt;a href="http://redmine.teracode.com/projects/pupils/repository/revisions/44546" class="changeset" title="fixes #43995 (Integration: VOS integration)"&gt;r44546&lt;/a&gt;.&lt;/p&gt;    </content>
  </entry>
  <entry>
    <title>Pupils - Feature #43995: Integration: VOS integration</title>
    <link href="http://redmine.teracode.com/issues/43995" rel="alternate"/>
    <id>http://redmine.teracode.com/issues/43995?journal_id=196910</id>
    <updated>2011-02-03T07:42:18-03:00</updated>
    <author>
      <name>Ken Van de Poel</name>
      <email>ken@kvdp.be</email>
    </author>
    <content type="html">
&lt;ul&gt;&lt;li&gt;&lt;strong&gt;File&lt;/strong&gt; &lt;a href="/attachments/16330/pupils.local.properties"&gt;pupils.local.properties&lt;/a&gt; added&lt;/li&gt;&lt;li&gt;&lt;strong&gt;File&lt;/strong&gt; &lt;a href="/attachments/16331/errorlog_pupils.txt"&gt;errorlog_pupils.txt&lt;/a&gt; added&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Status&lt;/strong&gt; changed from &lt;i&gt;Resolved&lt;/i&gt; to &lt;i&gt;ReOpen&lt;/i&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;internalError vos sync (see errorlog and properties)&lt;/p&gt;    </content>
  </entry>
  <entry>
    <title>Pupils - Feature #43995: Integration: VOS integration</title>
    <link href="http://redmine.teracode.com/issues/43995" rel="alternate"/>
    <id>http://redmine.teracode.com/issues/43995?journal_id=196937</id>
    <updated>2011-02-03T09:57:30-03:00</updated>
    <author>
      <name>Ricardo Castiglione</name>
      <email>ricardo.castiglione@teracode.com</email>
    </author>
    <content type="html">
&lt;ul&gt;&lt;/ul&gt;&lt;p&gt;ken, delete the "[" "]" in vosProxyFactory_3_0.address = [&lt;a class="external" href="http://develop-test.vsko.be/vos/remoting/vosWebService_v3_0"&gt;http://develop-test.vsko.be/vos/remoting/vosWebService_v3_0&lt;/a&gt;]&lt;/p&gt;    </content>
  </entry>
  <entry>
    <title>Pupils - Feature #43995: Integration: VOS integration</title>
    <link href="http://redmine.teracode.com/issues/43995" rel="alternate"/>
    <id>http://redmine.teracode.com/issues/43995?journal_id=196941</id>
    <updated>2011-02-03T10:14:22-03:00</updated>
    <author>
      <name>Ken Van de Poel</name>
      <email>ken@kvdp.be</email>
    </author>
    <content type="html">
&lt;ul&gt;&lt;/ul&gt;&lt;p&gt;changed properties, still error:&lt;br /&gt;2011-02-03 14:10:40,732 INFO  [be.platopupils.core.presenter.synchronization.SynchronizationPresenter] It is using a burstInstitutionSize of 50. &lt;br /&gt;2011-02-03 14:10:42,703 ERROR [wicket.RequestCycle] Unmarshalling Error: cvc-elt.1: Cannot find the declaration of element 'ns2:getAllInstitutionsByType'.  &lt;br /&gt;javax.xml.ws.soap.SOAPFaultException: Unmarshalling Error: cvc-elt.1: Cannot find the declaration of element 'ns2:getAllInstitutionsByType'.&lt;/p&gt;    </content>
  </entry>
  <entry>
    <title>Pupils - Feature #43995: Integration: VOS integration</title>
    <link href="http://redmine.teracode.com/issues/43995" rel="alternate"/>
    <id>http://redmine.teracode.com/issues/43995?journal_id=196954</id>
    <updated>2011-02-03T10:42:28-03:00</updated>
    <author>
      <name>Ricardo Castiglione</name>
      <email>ricardo.castiglione@teracode.com</email>
    </author>
    <content type="html">
&lt;ul&gt;&lt;/ul&gt;&lt;p&gt;could you give me the ip of develop-test.vsko.be?.&lt;/p&gt;    </content>
  </entry>
  <entry>
    <title>Pupils - Feature #43995: Integration: VOS integration</title>
    <link href="http://redmine.teracode.com/issues/43995" rel="alternate"/>
    <id>http://redmine.teracode.com/issues/43995?journal_id=196959</id>
    <updated>2011-02-03T10:49:43-03:00</updated>
    <author>
      <name>Ricardo Castiglione</name>
      <email>ricardo.castiglione@teracode.com</email>
    </author>
    <content type="html">
&lt;ul&gt;&lt;/ul&gt;&lt;p&gt;It seems a problem with the vos service. Could you talk with them?.&lt;/p&gt;    </content>
  </entry>
  <entry>
    <title>Pupils - Feature #43995: Integration: VOS integration</title>
    <link href="http://redmine.teracode.com/issues/43995" rel="alternate"/>
    <id>http://redmine.teracode.com/issues/43995?journal_id=196967</id>
    <updated>2011-02-03T10:53:34-03:00</updated>
    <author>
      <name>Ken Van de Poel</name>
      <email>ken@kvdp.be</email>
    </author>
    <content type="html">
&lt;ul&gt;&lt;/ul&gt;&lt;p&gt;10.253.134.132 --&gt; &lt;a class="external" href="http://develop-patch.vsko.be/plato-pupils"&gt;http://develop-patch.vsko.be/plato-pupils&lt;/a&gt;&lt;br /&gt;10.253.134.131 --&gt; &lt;a class="external" href="http://develop-test.vsko.be/vos/app"&gt;http://develop-test.vsko.be/vos/app&lt;/a&gt;&lt;/p&gt;    </content>
  </entry>
  <entry>
    <title>Pupils - Feature #43995: Integration: VOS integration</title>
    <link href="http://redmine.teracode.com/issues/43995" rel="alternate"/>
    <id>http://redmine.teracode.com/issues/43995?journal_id=197530</id>
    <updated>2011-02-04T13:09:05-03:00</updated>
    <author>
      <name>Ken Van de Poel</name>
      <email>ken@kvdp.be</email>
    </author>
    <content type="html">
&lt;ul&gt;&lt;/ul&gt;&lt;p&gt;info Michael:&lt;br /&gt;ah, i found the problem: they have upgrade to V4, but in namespace only. Ken, make sure you connect to &lt;a class="external" href="http://develop-PATCH.vsko.be/vos/remoting/vosWebService_v3_0"&gt;http://develop-PATCH.vsko.be/vos/remoting/vosWebService_v3_0&lt;/a&gt;, not &lt;a class="external" href="http://develop-TEST.vsko.be/vos/remoting/vosWebService_v3_0"&gt;http://develop-TEST.vsko.be/vos/remoting/vosWebService_v3_0&lt;/a&gt; (which is their trunk, and contains a newer version)&lt;br /&gt;change to resolved please&lt;/p&gt;    </content>
  </entry>
  <entry>
    <title>Pupils - Feature #43995: Integration: VOS integration</title>
    <link href="http://redmine.teracode.com/issues/43995" rel="alternate"/>
    <id>http://redmine.teracode.com/issues/43995?journal_id=197548</id>
    <updated>2011-02-04T14:06:08-03:00</updated>
    <author>
      <name>Ricardo Castiglione</name>
      <email>ricardo.castiglione@teracode.com</email>
    </author>
    <content type="html">
&lt;ul&gt;&lt;li&gt;&lt;strong&gt;Status&lt;/strong&gt; changed from &lt;i&gt;ReOpen&lt;/i&gt; to &lt;i&gt;Resolved&lt;/i&gt;&lt;/li&gt;&lt;/ul&gt;    </content>
  </entry>
  <entry>
    <title>Pupils - Feature #43995: Integration: VOS integration</title>
    <link href="http://redmine.teracode.com/issues/43995" rel="alternate"/>
    <id>http://redmine.teracode.com/issues/43995?journal_id=203845</id>
    <updated>2011-02-21T08:32:18-03:00</updated>
    <author>
      <name>Kim Maesen</name>
      <email>Kim.Maesen@vsko.be</email>
    </author>
    <content type="html">
&lt;ul&gt;&lt;li&gt;&lt;strong&gt;Status&lt;/strong&gt; changed from &lt;i&gt;Resolved&lt;/i&gt; to &lt;i&gt;Closed&lt;/i&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;See refinements &lt;a class="external" href="http://redmine.teracode.com/issues/52269"&gt;http://redmine.teracode.com/issues/52269&lt;/a&gt; - sprint 1.37&lt;/p&gt;    </content>
  </entry>
</feed>
