<?xml version="1.0" encoding="UTF-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title></title>
  <link href="http://redmine.teracode.com/issues/35889.atom?key=4aa574c9e059cb38d85a8c5ac783b54345358b7b" rel="self"/>
  <link href="http://redmine.teracode.com/" rel="alternate"/>
  <id>http://redmine.teracode.com/</id>
  <updated>2010-08-10T16:19:56-03:00</updated>
  <author>
    <name>TeraCode Project Management Tool</name>
  </author>
  <entry>
    <title>Pupils - Task #35889: write specs for the new users/group service/notification</title>
    <link href="http://redmine.teracode.com/issues/35889" rel="alternate"/>
    <id>http://redmine.teracode.com/issues/35889?journal_id=137019</id>
    <updated>2010-08-10T16:19:56-03:00</updated>
    <author>
      <name>Raul Cardozo</name>
      <email>raul.guillermo.cardozo@teracode.com</email>
    </author>
    <content type="html">
&lt;ul&gt;&lt;li&gt;&lt;strong&gt;File&lt;/strong&gt; &lt;i&gt;pupils-groups.odt&lt;/i&gt; added&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Status&lt;/strong&gt; changed from &lt;i&gt;Assigned&lt;/i&gt; to &lt;i&gt;Feedback&lt;/i&gt;&lt;/li&gt;&lt;li&gt;&lt;strong&gt;% Done&lt;/strong&gt; changed from &lt;i&gt;0&lt;/i&gt; to &lt;i&gt;70&lt;/i&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;see first version of specs.&lt;/p&gt;    </content>
  </entry>
  <entry>
    <title>Pupils - Task #35889: write specs for the new users/group service/notification</title>
    <link href="http://redmine.teracode.com/issues/35889" rel="alternate"/>
    <id>http://redmine.teracode.com/issues/35889?journal_id=137194</id>
    <updated>2010-08-11T09:48:49-03:00</updated>
    <author>
      <name>Kim Maesen</name>
      <email>Kim.Maesen@vsko.be</email>
    </author>
    <content type="html">
&lt;ul&gt;&lt;/ul&gt;&lt;p&gt;To be sure an example so I understand completely:&lt;/p&gt;


User = ken.vandepoel (see production db)&lt;br /&gt;He's got a membership of 9 groups?
	&lt;ul&gt;
	&lt;li&gt;group: plato - pupils - institution: 004465 - domain: school - contracttype PLATO - role: superadmin&lt;/li&gt;
		&lt;li&gt;group: plato - pupils - institution: 004465 - domain: school - contracttype PLATO - role: users administrator&lt;/li&gt;
		&lt;li&gt;group: plato - pupils - institution: 004465 - domain: school - contracttype PLATO - role: pupils admin&lt;/li&gt;
		&lt;li&gt;group: plato - pupils - institution: 009191 - domain: school - contracttype PLATO - role: superadmin&lt;/li&gt;
		&lt;li&gt;group: plato - pupils - institution: 009191 - domain: school - contracttype PLATO - role: users administrator&lt;/li&gt;
		&lt;li&gt;group: plato - pupils - institution: 009191 - domain: school - contracttype PLATO - role: pupils admin&lt;/li&gt;
		&lt;li&gt;group: plato - pupils - institution: 113662 - domain: school - contracttype CARE - role: superadmin&lt;/li&gt;
		&lt;li&gt;group: plato - pupils - institution: 113662 - domain: school - contracttype CARE - role: users administrator&lt;/li&gt;
		&lt;li&gt;group: plato - pupils - institution: 113662 - domain: school - contracttype CARE - role: pupils admin&lt;/li&gt;
	&lt;/ul&gt;


Or is it 3 groups with for each group 3 memberschips for each role?
	&lt;ul&gt;
	&lt;li&gt;group: plato - pupils - role pupils admin - linked to 009191, 004465, 113662&lt;/li&gt;
		&lt;li&gt;group: plato - pupils - role users admin - linked to 009191, 004465, 113662&lt;/li&gt;
		&lt;li&gt;group: plato - pupils - role superadmin - linked to 009191, 004465, 113662&lt;/li&gt;
	&lt;/ul&gt;


	&lt;p&gt;Or:&lt;/p&gt;


	&lt;ul&gt;
	&lt;li&gt;group: plato - pupils - institution school - 009191 - roles pupils admin &amp;#38; super admin &amp;#38; users admin?&lt;/li&gt;
		&lt;li&gt;group: plato - pupils - institution school - 004465 - roles pupils admin &amp;#38; super admin &amp;#38; users admin?&lt;/li&gt;
		&lt;li&gt;group: plato - pupils - institution school - 113662 - roles pupils admin &amp;#38; super admin &amp;#38; users admin?&lt;/li&gt;
	&lt;/ul&gt;


	&lt;p&gt;Sorry I try to understand the technical part so I added those examples. Can you correct the wrong examples?&lt;/p&gt;    </content>
  </entry>
  <entry>
    <title>Pupils - Task #35889: write specs for the new users/group service/notification</title>
    <link href="http://redmine.teracode.com/issues/35889" rel="alternate"/>
    <id>http://redmine.teracode.com/issues/35889?journal_id=137564</id>
    <updated>2010-08-12T07:06:32-03:00</updated>
    <author>
      <name>Michael De Groeve</name>
      <email>michaeldegroeve@lemonade.be</email>
    </author>
    <content type="html">
&lt;ul&gt;&lt;/ul&gt;&lt;p&gt;you have for user kenvandepoel&lt;/p&gt;


	&lt;p&gt;for domain 004465 - contract type PLATO&lt;br /&gt; kenvandepoel@004465 is member of group Global/General/Plato/Pupils/super admin&lt;br /&gt; kenvandepoel@004465 is member of group Global/General/Plato/Pupils/uses admin&lt;br /&gt; kenvandepoel@004465 is member of group Global/General/Plato/Pupils/pupils admin&lt;/p&gt;


	&lt;p&gt;for domain 009191 - contract type PLATO&lt;br /&gt; kenvandepoel@009191 is member of group Global/General/Plato/Pupils/super admin&lt;br /&gt; kenvandepoel@009191 is member of group Global/General/Plato/Pupils/uses admin&lt;br /&gt; kenvandepoel@009191 is member of group Global/General/Plato/Pupils/pupils admin&lt;/p&gt;


	&lt;p&gt;for domain 113662 - contract type CARE&lt;br /&gt; kenvandepoel@113662 is member of group Global/General/Plato/Pupils/super admin&lt;br /&gt; kenvandepoel@113662 is member of group Global/General/Plato/Pupils/uses admin&lt;br /&gt; kenvandepoel@113662 is member of group Global/General/Plato/Pupils/pupils admin&lt;/p&gt;    </content>
  </entry>
  <entry>
    <title>Pupils - Task #35889: write specs for the new users/group service/notification</title>
    <link href="http://redmine.teracode.com/issues/35889" rel="alternate"/>
    <id>http://redmine.teracode.com/issues/35889?journal_id=139192</id>
    <updated>2010-08-18T11:45:56-03:00</updated>
    <author>
      <name>Raul Cardozo</name>
      <email>raul.guillermo.cardozo@teracode.com</email>
    </author>
    <content type="html">
&lt;ul&gt;&lt;li&gt;&lt;strong&gt;File&lt;/strong&gt; deleted (&lt;strike&gt;&lt;i&gt;pupils-groups.odt&lt;/i&gt;&lt;/strike&gt;)&lt;/li&gt;&lt;/ul&gt;    </content>
  </entry>
  <entry>
    <title>Pupils - Task #35889: write specs for the new users/group service/notification</title>
    <link href="http://redmine.teracode.com/issues/35889" rel="alternate"/>
    <id>http://redmine.teracode.com/issues/35889?journal_id=139193</id>
    <updated>2010-08-18T11:46:25-03:00</updated>
    <author>
      <name>Raul Cardozo</name>
      <email>raul.guillermo.cardozo@teracode.com</email>
    </author>
    <content type="html">
&lt;ul&gt;&lt;li&gt;&lt;strong&gt;File&lt;/strong&gt; &lt;a href="/attachments/11031/pupils-groups.odt"&gt;pupils-groups.odt&lt;/a&gt; added&lt;/li&gt;&lt;/ul&gt;    </content>
  </entry>
  <entry>
    <title>Pupils - Task #35889: write specs for the new users/group service/notification</title>
    <link href="http://redmine.teracode.com/issues/35889" rel="alternate"/>
    <id>http://redmine.teracode.com/issues/35889?journal_id=143737</id>
    <updated>2010-08-30T19:10:47-03:00</updated>
    <author>
      <name>Raul Cardozo</name>
      <email>raul.guillermo.cardozo@teracode.com</email>
    </author>
    <content type="html">
&lt;ul&gt;&lt;li&gt;&lt;strong&gt;Status&lt;/strong&gt; changed from &lt;i&gt;Feedback&lt;/i&gt; to &lt;i&gt;Resolved&lt;/i&gt;&lt;/li&gt;&lt;li&gt;&lt;strong&gt;% Done&lt;/strong&gt; changed from &lt;i&gt;70&lt;/i&gt; to &lt;i&gt;100&lt;/i&gt;&lt;/li&gt;&lt;/ul&gt;    </content>
  </entry>
</feed>
