<?xml version="1.0" encoding="UTF-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title></title>
  <link href="http://redmine.teracode.com/issues/89540.atom?key=4aa574c9e059cb38d85a8c5ac783b54345358b7b" rel="self"/>
  <link href="http://redmine.teracode.com/" rel="alternate"/>
  <id>http://redmine.teracode.com/</id>
  <updated>2012-08-27T10:29:39-03:00</updated>
  <author>
    <name>TeraCode Project Management Tool</name>
  </author>
  <entry>
    <title>Pupils - Bug #89540: New version of the manual 1.6</title>
    <link href="http://redmine.teracode.com/issues/89540" rel="alternate"/>
    <id>http://redmine.teracode.com/issues/89540?journal_id=365561</id>
    <updated>2012-08-27T10:29:39-03:00</updated>
    <author>
      <name>Kim Maesen</name>
      <email>Kim.Maesen@vsko.be</email>
    </author>
    <content type="html">
&lt;ul&gt;&lt;/ul&gt;&lt;p&gt;&lt;strong&gt;Manual InschrijvingDienst v1.1 V01.06:&lt;/strong&gt;&lt;/p&gt;


	&lt;ul&gt;
	&lt;li&gt;new error code 20903 - level 2 - "Tijdstip van de aanvraag valt binnen een niet toegelaten tijdvenster van {} tot en met {}&lt;/li&gt;
		&lt;li&gt;@Michael please check page 11 "2.9 beheervenster" not sure what we need to do with that - it's just info&lt;/li&gt;
	&lt;/ul&gt;    </content>
  </entry>
  <entry>
    <title>Pupils - Bug #89540: New version of the manual 1.6</title>
    <link href="http://redmine.teracode.com/issues/89540" rel="alternate"/>
    <id>http://redmine.teracode.com/issues/89540?journal_id=365737</id>
    <updated>2012-08-28T04:00:08-03:00</updated>
    <author>
      <name>Kim Maesen</name>
      <email>Kim.Maesen@vsko.be</email>
    </author>
    <content type="html">
&lt;ul&gt;&lt;/ul&gt;&lt;p&gt;&lt;strong&gt;Manual Discimus InschrijvingDienst V1.0 GeregistreerdPersoon 01.06&lt;/strong&gt; (GRP)&lt;/p&gt;


	&lt;ul&gt;
	&lt;li&gt;new exceptioncode:
	&lt;ul&gt;
	&lt;li&gt;30990 - level 3 - "OptimisticLocking probleem : {}. Conflict met een andere, gelijktijdige bewerking. Probeer opnieuw later." &lt;/li&gt;
		&lt;li&gt;30146 - level 3 - "Er bestaan nog AanwezigheidsInformaties voor deze GRP."&lt;/li&gt;
	&lt;/ul&gt;&lt;/li&gt;
	&lt;/ul&gt;


	&lt;ul&gt;
	&lt;li&gt;new urls:
	&lt;ul&gt;
	&lt;li&gt;for test &amp;#38; acception: &lt;a class="external" href="https://wss2-etio.vlaanderen.be/OnderwijsEnVorming/discimus/InschrijvingDienst/"&gt;https://wss2-etio.vlaanderen.be/OnderwijsEnVorming/discimus/InschrijvingDienst/&lt;/a&gt;  -- this url will also work temporary &lt;a class="external" href="https://wss2-etio.vlaanderen.be/OnderwijsEnVorming/discimus/discimus-ws/"&gt;https://wss2-etio.vlaanderen.be/OnderwijsEnVorming/discimus/discimus-ws/&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;for production: &lt;a class="external" href="https://wss.vlaanderen.be/OnderwijsEnVorming/discimus/InschrijvingDienst/"&gt;https://wss.vlaanderen.be/OnderwijsEnVorming/discimus/InschrijvingDienst/&lt;/a&gt; -- this url will also work temporary &lt;a class="external" href="https://wss.vlaanderen.be/OnderwijsEnVorming/discimus/discimus-ws/"&gt;https://wss.vlaanderen.be/OnderwijsEnVorming/discimus/discimus-ws/&lt;/a&gt;&lt;/li&gt;
	&lt;/ul&gt;&lt;/li&gt;
	&lt;/ul&gt;    </content>
  </entry>
  <entry>
    <title>Pupils - Bug #89540: New version of the manual 1.6</title>
    <link href="http://redmine.teracode.com/issues/89540" rel="alternate"/>
    <id>http://redmine.teracode.com/issues/89540?journal_id=365741</id>
    <updated>2012-08-28T04:51:07-03:00</updated>
    <author>
      <name>Kim Maesen</name>
      <email>Kim.Maesen@vsko.be</email>
    </author>
    <content type="html">
&lt;ul&gt;&lt;/ul&gt;&lt;p&gt;&lt;strong&gt;Manual Discimus InschrijvingDienst V1.0 Inschrijving 01.06 (INS)&lt;/strong&gt;&lt;/p&gt;


	&lt;ul&gt;
	&lt;li&gt;new exceptioncode:
	&lt;ul&gt;
	&lt;li&gt;30990 - level 3 - "OptimisticLocking probleem : {}. Conflict met een andere, gelijktijdige bewerking. Probeer opnieuw later."&lt;/li&gt;
	&lt;/ul&gt;&lt;/li&gt;
	&lt;/ul&gt;


	&lt;ul&gt;
	&lt;li&gt;new urls: (see #2)&lt;/li&gt;
	&lt;/ul&gt;    </content>
  </entry>
  <entry>
    <title>Pupils - Bug #89540: New version of the manual 1.6</title>
    <link href="http://redmine.teracode.com/issues/89540" rel="alternate"/>
    <id>http://redmine.teracode.com/issues/89540?journal_id=365743</id>
    <updated>2012-08-28T04:57:33-03:00</updated>
    <author>
      <name>Kim Maesen</name>
      <email>Kim.Maesen@vsko.be</email>
    </author>
    <content type="html">
&lt;ul&gt;&lt;/ul&gt;&lt;p&gt;&lt;strong&gt;Manual Discimus InschrijvingDienst V1.0 InschrijvingAdm 01.06 (InsAdm)&lt;/strong&gt;&lt;/p&gt;


	&lt;ul&gt;
	&lt;li&gt;new exceptioncode:
	&lt;ul&gt;
	&lt;li&gt;30990 - level 3 - "OptimisticLocking probleem : {}. Conflict met een andere, gelijktijdige bewerking. Probeer opnieuw later." &lt;/li&gt;
		&lt;li&gt;30145 - level 3 - "Huidige kalenderdatum valt niet binnen het beheervenster voor deze operatie."&lt;/li&gt;
	&lt;/ul&gt;&lt;/li&gt;
	&lt;/ul&gt;


	&lt;ul&gt;
	&lt;li&gt;new urls: (see comment #2)&lt;/li&gt;
	&lt;/ul&gt;    </content>
  </entry>
</feed>
