<?xml version="1.0" encoding="UTF-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title></title>
  <link href="http://redmine.teracode.com/issues/60554.atom?key=4aa574c9e059cb38d85a8c5ac783b54345358b7b" rel="self"/>
  <link href="http://redmine.teracode.com/" rel="alternate"/>
  <id>http://redmine.teracode.com/</id>
  <updated>2011-05-27T10:27:07-03:00</updated>
  <author>
    <name>TeraCode Project Management Tool</name>
  </author>
  <entry>
    <title>Architecture - Issue #60554: error develop-patch</title>
    <link href="http://redmine.teracode.com/issues/60554" rel="alternate"/>
    <id>http://redmine.teracode.com/issues/60554?journal_id=236794</id>
    <updated>2011-05-27T10:27:07-03:00</updated>
    <author>
      <name>Javier Posado</name>
      <email>javier.posado@teracode.com</email>
    </author>
    <content type="html">
&lt;ul&gt;&lt;li&gt;&lt;strong&gt;Assigned to&lt;/strong&gt; set to &lt;i&gt;Ken Van de Poel&lt;/i&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;The log is a bit confused, there are 4 applications logging at the same time, diary, plato, plato-pupils and ikonlegacy.&lt;br /&gt;But it is clear that there is a NPE in diary in CreateEmployeeUseCase.updateEmployee and two messages that throw expceptions, one in Pupils when it executes updateSchool. It throws a LocationOverlappedException that should be managed. The other error is in IkonLegacy during execution of trigger 'IKON.CG$BUR_PERSONEN' when it is trying to change the registration number 28109251494 to 26103051523.&lt;br /&gt;Please create new issues to resolve those errors.&lt;/p&gt;    </content>
  </entry>
  <entry>
    <title>Architecture - Issue #60554: error develop-patch</title>
    <link href="http://redmine.teracode.com/issues/60554" rel="alternate"/>
    <id>http://redmine.teracode.com/issues/60554?journal_id=236823</id>
    <updated>2011-05-27T11:02:08-03:00</updated>
    <author>
      <name>Ken Van de Poel</name>
      <email>ken@kvdp.be</email>
    </author>
    <content type="html">
&lt;ul&gt;&lt;/ul&gt;&lt;p&gt;bug pupils: &lt;a class="external" href="http://redmine.teracode.com/issues/60573"&gt;http://redmine.teracode.com/issues/60573&lt;/a&gt;&lt;br /&gt;bug diary: &lt;a class="external" href="http://redmine.teracode.com/issues/60569"&gt;http://redmine.teracode.com/issues/60569&lt;/a&gt;&lt;br /&gt;bug ikon: &lt;a class="external" href="http://redmine.teracode.com/issues/60580"&gt;http://redmine.teracode.com/issues/60580&lt;/a&gt;&lt;/p&gt;    </content>
  </entry>
  <entry>
    <title>Architecture - Issue #60554: error develop-patch</title>
    <link href="http://redmine.teracode.com/issues/60554" rel="alternate"/>
    <id>http://redmine.teracode.com/issues/60554?journal_id=295927</id>
    <updated>2011-11-12T16:53:57-03:00</updated>
    <author>
      <name>Ken Van de Poel</name>
      <email>ken@kvdp.be</email>
    </author>
    <content type="html">
&lt;ul&gt;&lt;li&gt;&lt;strong&gt;Status&lt;/strong&gt; changed from &lt;i&gt;New&lt;/i&gt; to &lt;i&gt;Closed&lt;/i&gt;&lt;/li&gt;&lt;/ul&gt;    </content>
  </entry>
</feed>
